@use "../../style/helpers" as *;

.heroSection {
  @include flex-center;
  text-align: center;

}

.heroContainer {

  color: white;
  max-width: rem(600);
  padding: rem(20);

}

.heroTitle {
  font-size: 3rem; // Размер шрифта
  font-weight: bold; // Полужирное начертание
  text-transform: uppercase; // Заглавные буквы
  letter-spacing: 0.1rem; // Межбуквенное расстояние
  color: #0062ac; // Белый цвет текста для контраста
  background: linear-gradient(45deg, rgba(250, 255, 5, 0.94), #f7a8b8); // Градиент от розового к нежно-розовому
  -webkit-background-clip: text; // Это делает градиент на самом тексте
  background-clip: text;
  text-align: center; // Выравнивание по центру
  font-family: var(--font-family-innih); // Шрифт
  line-height: 1.4; // Межстрочный интервал
  text-shadow: 2px 2px 8px rgba(250, 255, 5, 0.94), 0 0 25px rgba(47, 236, 11, 0.83); // Легкая тень для объема
  margin-bottom: rem(16);
}

.heroText {
  @include fluid-text(20, 14);
  margin-bottom: rem(24);
}

.heroBtn {
  display: inline-flex;
  align-items: center;
  padding: 1rem 2rem;  // Отступы
  font-size: 1rem;     // Размер шрифта
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5rem; // Скругленные углы
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0.625rem;

  // Базовый стиль кнопок
  &.google-play {
    background-color: #14df14; // Цвет для Google Play
    color: rgba(222, 246, 6, 0.96);
    background-image: linear-gradient(to bottom, #3b8e3a, #10d616);
  }

  &.app-store {
    background-color: #1d1d1f; // Цвет для App Store
    color: white;
    background-image: linear-gradient(to bottom, #1d1d1f, #282828);
  }

  // Эффект при наведении
  &:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
  }

  // Эффект при нажатии
  &:active {
    transform: translateY(0.125rem);
    box-shadow: none;
  }

  // Дополнительные стили для мобильных устройств
  @media screen and (max-width: 48em) {  // Для экранов шириной до 768px
    padding: 1rem 1.25rem;
    font-size: 0.875rem;
  }
}

.heroBtn .icon  {
  margin-right: 0.625rem; // Отступ между иконкой и текстом
  font-size: 1.25rem;     // Размер иконки
  transition: transform 0.3s ease;
}

.heroBtn:hover .icon {
  transform: rotate(360deg); // Вращение иконки при наведении
}

.heroBtn.google-play:hover {
  background-color: #2e7d32;  // Цвет при наведении для Google Play
  background-image: linear-gradient(to bottom, #2e7d32, #388e3c);
}

.heroBtn.app-store:hover {
  background-color: #333;  // Цвет при наведении для App Store
  background-image: linear-gradient(to bottom, #333, #282828);
}
.icon {
  color: #0ecd15;
  width: 2.5rem;
  height: 2.5rem;
}
.iconapp {
  color: #111711;
  width: 2.5rem;
  height: 2.5rem;
}

/* Адаптивность */
@include tablet {
  .heroTitle {
    @include fluid-text(40, 22);
  }

  .heroText {
    @include fluid-text(18, 14);
  }
}

@include mobile {
  .heroContainer {
    padding: rem(10);
  }

  .heroTitle {
    @include fluid-text(36, 20);
  }

  .heroText {
    @include fluid-text(16, 12);
  }
}
